<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="97d274b4-eaaa-4a14-bd9b-955de5a7d3cf" Publisher="CN=Griffin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Design Patterns</DisplayName>
    <PublisherDisplayName>Griffin Fujioka</PublisherDisplayName>
    <Logo>Assets\DesignPatternsStore2.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Design_Patterns.App">
      <VisualElements DisplayName="Design Patterns" Logo="Assets\DesignPatternsSquare2.png" SmallLogo="Assets\DesignPatternsSmallLogo.png" Description="Design Patterns" ForegroundText="light" BackgroundColor="#CC3333">
        <DefaultTile ShowName="logoOnly" WideLogo="Assets/DesignPatternsWide2.png" />
        <SplashScreen Image="Assets\DesignPatternsSplashScreen2.png" BackgroundColor="#6CC7DC" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>